doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    script(src= '/javascripts/jquery-1.11.3.js')
    link(rel="stylesheet",href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
    script(src="https://unpkg.com/flatpickr")
  body
    block content
